mixin expensess
  .expensess
    .expensess__row.expensess__row--odd
      p.expensess__text Аренда помещения
      p.expensess__number 157 500 ₽/мес.
    .expensess__row
      p.expensess__text Зарплаты
      p.expensess__number 1 100 500 ₽/мес.
    .expensess__row.expensess__row--odd
      p.expensess__text Роялти и налоги
      p.expensess__number 449 000 ₽/мес.
    .expensess__row
      p.expensess__text Прочие расходы
      p.expensess__number 33 500 ₽/мес.