mixin fourth-block
  section.fourth-block.section-block
    .fourth-block__image
      .fourth-block__signature
        p.fourth-block__name Семён Александрович Пузиков
        p.fourth-block__specialization Стоматолог-ортопед, стоматолог-хирург, стоматолог-терапевт, Основатель стоматологии «Мила Дент»
    .fourth-block__quote
      p.fourth-block__quotation ”
      h3.fourth-block__title <span class="green">Открыть клинику </span> легче, чем кажется
      p.fourth-block__paragraph
        |Мы знаем, что открыть стоматологическую клинику самостоятельно бывает тяжело.
        |Особенно прибыльную. Особенно если это ваш первый опыт. Мы сами прошли путь от небольшого кабинета с одним креслом
        |до круглосуточной клиники с большим спектром услуг и знаем, как все устроено.
      p.fourth-block__paragraph
        |Франшиза «Мила Дент» — наш подарок всем, кто хочет стать владельцем собственной клиники и при этом не наломать дров.
        |Наша команда помогает открыть клинику с нуля в пошаговом режиме: соблюдая законодательство и СанПин, обеспечивая поставки
        |оборудования, организуя бизнес-процессы и выводя на достойную прибыль.
      p.fourth-block__summary Если вы готовы не только получать прибыль, но и вместе с нами развивать свою клинику до топ-уровня — добро пожаловать во франшизу