.fifth-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fifth-block__gallery {
  width: 100%;
}

.fifth-block__picture {
  width: 400px;
  height: 280px;
}

.fifth-block__picture {
  margin-left: 20px;
}