.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1010px;

  padding: 35px 66px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 11px 54px 0 rgba(0, 0, 0, 0.07);
}

.form-block__title {
  font-size: 22px;
  font-weight: bold;
}

.form-block__list {
  display: flex;
  justify-content: space-between;

  width: 490px;

  margin: 20px 0 30px;
}

.form-block__item {
  padding: 5px 25px;

  font-size: 13px;
  text-align: center;

  border-radius: 14px;
  background-image: -moz-linear-gradient( -83deg, rgb(189,225,225) 0%, rgb(219,245,245) 100%);
  background-image: -webkit-linear-gradient( -83deg, rgb(189,225,225) 0%, rgb(219,245,245) 100%);
  background-image: -ms-linear-gradient( -83deg, rgb(189,225,225) 0%, rgb(219,245,245) 100%);
}

.form-block__form {
  position: relative;

  align-self: start;

  width: 90%;

  margin-bottom: 30px;

  border-radius: 10px;
  background-color: #eeeeee;
}

.form-block__input {
  padding: 35px 22px 35px 32px;

  font-size: 16px;
  color: rgb(124, 133, 138);

  background-color: #eeeeee;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form-block__button {
  position: absolute;

  right: -110px;

  &--vertical {
    bottom: -17px;
    right: 0;

    padding: 32px 34px;
  }

  padding: 32px 55px;

  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 0 rgba(53, 53, 53, 0.004);

  border-radius: 45px;
  border: none;
  outline: none;
  background-image: -moz-linear-gradient( 90deg, rgb(250,82,89) 0%, rgb(252,131,136) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(250,82,89) 0%, rgb(252,131,136) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(250,82,89) 0%, rgb(252,131,136) 100%);
  box-shadow: 0 3px 24px 0 rgba(250, 85, 91, 0.39);
}

.form-block__policy {
  font-size: 12px;
  font-weight: lighter;
}
