mixin footer
  footer.footer
    .footer__copyright-block
      p.footer__copyright &#169; «Мила Дент», 2020
      p.footer__text Франчайзинг 5 — упаковка и продвижение франшиз
    .footer__policy
      p.footer__text Политики конфиденциальности
    .header__consultation
      .header__call
        i(class="fa fa-phone fa-lg")
        p.header__number  8 800 000 00 00
      p.header__text Бесплатная консультация