mixin services-list(list)
  ul.services-list
    each item in list
      li.services-list__item
        .services-list__circle
          img(src=require(`../blocks/services-list/images/${item.link}`)).services-list__icon
        p.services-list__text=item.text
