mixin eighth-block
  section.eighth-block.section-block
    h2.eighth-block__title <span class="green">Форматы </span> франшизы
    table.eighth-block__table
      tr.eighth-block__row
        td.eighth-block__cell.eighth-block__cell--title Пакеты
        td.eighth-block__cell.eighth-block__cell--light Mini
        td.eighth-block__cell.eighth-block__cell--normal Standart
        td.eighth-block__cell.eighth-block__cell--dark.eighth-block__cell--round Optimal
      tr.eighth-block__row
        td.eighth-block__cell.eighth-block__cell--first Площадь
        td.eighth-block__cell от 45 м <sup> 3 </sup>
        td.eighth-block__cell от 85 м <sup> 3 </sup>
        td.eighth-block__cell 130-150 м <sup> 3 </sup>
      tr.eighth-block__row
        td.eighth-block__cell.eighth-block__cell--first Взнос
        td.eighth-block__cell 600 тыс. ₽
        td.eighth-block__cell 900 тыс. ₽
        td.eighth-block__cell 1,2 млн ₽
      tr.eighth-block__row
        td.eighth-block__cell.eighth-block__cell--first Роялти
        td.eighth-block__cell 5% от выручки
        td.eighth-block__cell 5% от выручки
        td.eighth-block__cell 5% от выручки
      tr.eighth-block__row
        td.eighth-block__cell.eighth-block__cell--first Выручка
        td.eighth-block__cell от 3 млн ₽ в месяц
        td.eighth-block__cell от 6 млн ₽ в месяц
        td.eighth-block__cell от 9 млн ₽ в месяц
      tr.eighth-block__row
        td.eighth-block__cell.eighth-block__cell--first Прибыль
        td.eighth-block__cell от 650 тыс. ₽ в месяц
        td.eighth-block__cell от 1,2 млн ₽ в месяц
        td.eighth-block__cell от 2,6 млн ₽ в месяц
    .eighth-block__buttons
      button.eighth-block__button Получить фин. модель
      button.eighth-block__button Получить фин. модель
      button.eighth-block__button Получить фин. модель

