.form-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  height: 544px;

  padding: 35px 17px 0;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 11px 54px 0 rgba(0, 0, 0, 0.2);
}

.form-vertical__title {
  width: 420px;

  font-size: 22px;
  font-weight: bold;

  text-align: center;
}

.form-vertical__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 490px;

  margin: 10px 0;
}

.form-vertical__item {
  padding: 5px 25px;

  font-size: 13px;
  text-align: center;

  border-radius: 14px;
  background-image: -moz-linear-gradient( -83deg, rgb(189,225,225) 0%, rgb(219,245,245) 100%);
  background-image: -webkit-linear-gradient( -83deg, rgb(189,225,225) 0%, rgb(219,245,245) 100%);
  background-image: -ms-linear-gradient( -83deg, rgb(189,225,225) 0%, rgb(219,245,245) 100%);
}

.form-vertical__form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 320px;
  height: 320px;

  padding: 40px 0 20px;

  border-radius: 10px;
}

.form-vertical__input {
  padding: 25px 20px 25px 30px;

  width: 84%;

  font-size: 16px;
  color: rgb(124, 133, 138);

  background-color: #eeeeee;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form-vertical__button {
  height: 86px;
  width: 318px;

  text-align: center;

  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 0 rgba(53, 53, 53, 0.5);

  border-radius: 45px;
  border: none;
  outline: none;
  background-image: -moz-linear-gradient( 90deg, rgb(250,82,89) 0%, rgb(252,131,136) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(250,82,89) 0%, rgb(252,131,136) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(250,82,89) 0%, rgb(252,131,136) 100%);
  box-shadow: 0 3px 24px 0 rgba(250, 85, 91, 0.39);
}

.form-vertical__policy {
  padding-bottom: 20px;

  font-size: 12px;

  text-align: center;
}

.form-vertical__textarea {
  resize: none;
}
