
@font-face {
	font-family: 'GothamPro';
	src: url('GothamPro-Bold.eot?') format('eot'),
	     url('GothamPro-Bold.woff') format('woff'), 
	     url('GothamPro-Bold.ttf')  format('truetype'),
	     url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: bold;
}
