.first-block {
  padding-top: 75px;
}

.first-block__title {
  width: 590px;

  font-size: 40px;
  font-weight: bold;
}

.first-block__income {
  font-size: 22px;
  font-weight: bold;
}

.first-block__win {
  margin: 40px 0 55px 0;
}

