include ../gis-win/gis-win

mixin first-block
  section.first-block
    h1.first-block__title Откройте круглосуточную стоматологию от
    h1.first-block__title--green победителей премии 2Гис
    p.first-block__income С доходом от 650 000 до 2 600 000 п в месяц
    div.first-block__win
      +gis-win
