include ../gis-win/gis-win
include ../form-block/form-block

mixin first-block
  section.first-block.section-block
    h1.first-block__title Откройте круглосуточную стоматологию от <span class="green"> победителей премии 2Гис</span>
    p.first-block__income С доходом от 650 000 до 2 600 000 ₽ в месяц
    div.first-block__win
      +gis-win
    +form-block(
      "Получите материалы франшизы: ",
      "Получить материалы",
      [
        {text: "Бизнес-план"},
        {text: "Финансовая модель"},
        {text: "Презентация"}
      ]
      )
