mixin summary
  .summary
    .summary__row
      p.summary__text Выручка за месяц:
      p.month.summary__number 4 047 000 ₽
    .summary__row
      p.summary__text Прибыль за месяц:
      p.gain.summary__number 2 145 000 ₽
    .summary__last-row
      p.summary__text-year Прибыль за год:
      p(id="income-year").summary__number-year 25 740 000 ₽