mixin summary
  .summary
    .summary__row
      p.summary__text Выручка за месяц:
      p.month.summary__number 4 510 500 ₽
    .summary__row
      p.summary__text Прибыль за месяц:
      p.gain.summary__number 2 390 682 ₽
    .summary__last-row
      p.summary__text-year Прибыль за год:
      p(id="income-year").summary__number-year 28 668 186 ₽