.calculator {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 680px;
  height: 210px;

  margin-bottom: 13px;

  border-radius: 10px;
  background-color: rgb(21, 146, 146);
}

.calculator__main {
  width: 440px;

  color: white;
}

.calculator__numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 150px;
  height: 145px;

  color: white;
}

.calculator__average {
  width: 135px;

  font-size: 14px;
  color: rgb(202, 233, 233);
}

.calculator__input {
  width: 130px;
  height: 42px;

  margin-top: 6px;

  padding-left: 7px;

  font-family: "GothamPro";
  font-size: 22px;
  font-weight: bold;
  color: white;

  &--big {
    font-size: 18px;
  }

  border-radius: 10px;
  background-color: #38bebe;
  border: none;
  outline: none;
}

.calculator__form {
  height: 49px;

  padding: 10px 0 13px;
}

.calculator__scale {
  display: flex;

  width: 430px;

  margin-top: 23px;
  margin-left: 2px;
}

.calculator__item {
  position: relative;

  margin-left: 34px;

  &--less {
    position: relative;

    margin-left: 40px;

    &::before {
      content: "";

      position: absolute;

      top: -10px;
      left: 2px;

      width: 5px;
      height: 5px;

      background-color: #7ed0d0;
      border-radius: 50%;

    &-right {
      margin-left: 37px;
    }
  }

  &--right {
    margin-left: 29.3px;
  }

  &::before {
    content: "";

    position: absolute;

    top: -10px;
    left: 2px;

    width: 5px;
    height: 5px;

    background-color: #7ed0d0;
    border-radius: 50%;
  }

  font-size: 13px;
  color: rgb(137, 215, 215);

  &:first-child {
    margin-left: 4px;
  }
}



