.landing-page {
  min-width: 1250px;

}

.landing-page__first-block {
  padding: 0 0 40px;

  background-image: url("images/dent.png"), url("images/first.png");
  background-position: 75% -5px, -100px 0;
  background-size: 1200px 800px, cover;
  background-repeat: no-repeat;
}

.landing-page__second-block {
  background-image: url("images/second.png"), url("images/table.png"),  url("images/second-background.png");
  background-position: 10% -30px, 50% 100% ,0 0;
  background-size: 1380px 800px, 100% 170px ,cover;
  background-repeat: no-repeat;
}

.landing-page__fourth-block {
  background-image: url("images/fourth.png");
  background-position: 0 -10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page__seventh-block {
  background-image: url("images/seventh.png");
  background-position: -50px -10px;
  background-size: 1700px 800px;
  background-repeat: no-repeat;
}

.landing-page__ninth-block {
  background-image: url("images/ninth.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page__tenth-block {
  background-image: url("images/tenth.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-block {
  max-width: 1140px;

  margin: 0 auto;
}

.landing-page__footer {
  display: flex;
  justify-content: center;
}

