doctype html
html
  head
    title Mila Dent
    meta(name="viewport" content="width=device-width")
    script(src="https://use.fontawesome.com/1a9f14570f.js")
    link(rel="icon" href="/assets/images/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon")
  body
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/dependencyLibs/inputmask.dependencyLib.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js")
