.header {
  max-width: 1140px;

  margin: 0 auto ;

  font-size: 16px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.header__name {
  width: 220px;

  font-family: "GothamPro";
  color: #2d2d2d;
  text-transform: uppercase;
}

.header__logo {
  padding-top: 20px;
}

.header__consultation {
  margin-top: 25px;
}

.header__number {
  margin-left: 11px;

  font-size: 20px;
  font-weight: bold;
}

.header__text {
  margin-top: 5px;

  font-size: 16px;
  font-weight: lighter;
  text-decoration: underline;
}